body {
 padding:5vw;
 padding-top:2vw;
    }
 #top {
 background-color:;
 font-size:2rem;
 }
img{
width:25vw;
height:25vw;
object-fit:cover;
border-radius:50%;
position:relative;
top:2vh;
left:8vh;
display:block;
}

#profile-card {
 width:50vw;
 height:50vh;
 border:2px solid black;
 border-radius:5px;
 display:flex;

 }

p {
position:absolute;
font-size:2em;
display:inline-block;
margin:40px;

}

#left {
height:25vh;
width:100%;
background:gray;
}

